:root{
    --primary: red;
    --secondary: lightgrey;
    --tertiary: maroon;
    --dark: rgb(62, 60, 60);
    --black: black;
    --border-radius: .3rem;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
.intro {
    background-color: var(--dark);
    padding: 30px;
    color: var(--secondary);
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    font-size: 35px;
}
#time {
    color: var(--tertiary);
    padding: 4%;
} 

body {
    background: linear-gradient(rgb(214, 230, 237), rgb(48, 62, 143));
}


header p {
    font-weight: 700;
    padding: 25px;
    font-size: 25px;
    }
.instructions {
    font-size: 20px;
}

.weather-container{
    border: 1px solid black;
    padding: 40px;
    margin: 50px 0;
    justify-content: right;
}


.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
}
.temperature-value p:hover{
    pointer-events: red;
    
}
.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}
.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
} 
.location p,
.humidity p,
.wind-speed p,
.uv-index p {
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}